Flask==3.1.0
flask-cors==4.0.0
gunicorn==21.2.0

deepface==0.0.93
opencv-python-headless==4.8.1.78
tensorflow-cpu==2.12.0
numpy==1.23.5
pandas==2.0.3
pillow==10.0.1
tqdm==4.66.1
pyodbc==4.0.39
